html, 
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* typography */

body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
}
.h1 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #232536;
}
.h2 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}
.h3 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
}
.h4 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #232536;
}
.h5 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #232536;

}
.h6 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
}
p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #232536;
}
label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #232536;
}

/* background colors */
.bg-dark {
    background: #232536;
}
.bg-yellow {
    background: #FFD050;
}
.bg-purple {
    background: #592EA9;
}
.bg-dark-gray {
    background: #4C4C4C;
}
.bg-medium-gray {
    background: #6D6E76;
}
.bg-light-gray {
    background: #F4F4F4;
}
.bg-lavender {
    background: #F4F0F8;
}
.bg-light-yellow {
    background: #FBF6EA;
}

/* buttons */
.button {
    transition:background-color 0.3s linear;
    display: flex;
    margin: 12px;
    width: fit-content;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 48px;
    background-color: #FFD050;
    border: none;
    color: #232536;
    text-decoration: none;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}
.button-white {
    background-color: #FFFFFF;
    border: 1px solid #6D6E76;
}

.button:hover {
    transition:background-color 0.3s linear;
    background-color: #EDC14A;
}

.button-hover-white:hover {
    transition:background-color 0.3s linear;
    background-color: #FFFFFF
}

button, a {
    cursor: pointer;
}


/* text colors */
.text-white {
    color: #FFFFFF;
}

/* grid */
 
.container {
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.column-1 {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}
.column-2 {
    width: calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}
.column-3 {
    width: calc(33.33%-30px);
    margin-left: 15px;
    margin-right: 15px;
}
.column-4 {
    width: calc(25%-30px);
    margin-left: 15px;
    margin-right: 15px;
}


@media screen  and (min-width:768px){
    .column-2-lg {
        width: calc(50% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }
}

/* section header */


.top-nav-links,
.bottom-nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-nav-links a,
.bottom-nav-links a {
    text-decoration: none;
}

.top-nav-links li,
.bottom-nav-links li {
    margin-left: 12px;
    margin-right: 12px;
}

.top-nav,
.bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top-nav-wrapper,
.logo,
.bottom-nav-wrapper {
    display: flex;
    align-items: center;
}



.menu {
    display: none;
    width: 60px;
    height: 60px;
    margin: 12px;
    border: 1px solid white; 
    padding: 1px 12px;
}
.menu .stick {
    height: 5px;
    width: 100%;
    background-color: #232536;

}

.menu:hover {
    transition:background-color 0.3s linear;
    background-color: #EDC14A;
}

  
  /* footer styles */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}



.input  input {
    width: 100%;
    border: 1px solid #4C4C4C;
    background-color: transparent;
    color: #6D6E76;
    padding: 14px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 12px;
}

.input {
    display: flex;
    height: fit-content;
}
  

.footer-center {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 80px 64px;
    background: rgba(255, 255, 255, 0.05);
}

.footer-top-line {
    padding-bottom: 60px;
}

.subscribe-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* mobile view */

@media screen and (max-width: 768px) {

    .menu {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    .top-nav.column-2 .button.button-white {
        display: none;
    }

    .top-nav-wrapper {
        display: none;
    }
    
    .footer .logo {
        justify-content: center;
        padding-bottom: 30px;
    }
    
    .bottom-nav {
        justify-content: center;
        text-align: center; 
    }

    .bottom-nav-links {
        flex-direction: column;
    }
}
