html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Helpers*/

.z-index-1 {
    z-index: 1;
}

.relative {
    position: relative;
}


/* typography */

body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
}

.cap-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase
}

.h1 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #232536;
}

.h2 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.h3 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
}

.h4 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #232536;
}

.h5 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #232536;

}

.h6 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #232536;

}

label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #232536;
}

.text-read-more {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #592EA9;
}

/* background colors */
.bg-dark {
    background: #232536;
}

.bg-yellow {
    background: #FFD050;
}

.bg-purple {
    background: #592EA9;
}

.bg-dark-gray {
    background: #4C4C4C;
}

.bg-medium-gray {
    background: #6D6E76;
}

.bg-light-gray {
    background: #F4F4F4;
}

.bg-lavender {
    background: #F4F0F8;
}

.bg-light-yellow {
    background: #FBF6EA;
}

/* buttons */
.button {
    transition: background-color 0.3s linear;
    display: flex;
    margin: 12px;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    padding: 16px 48px;
    background-color: #FFD050;
    border: none;
    color: #232536;
    text-decoration: none;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    justify-content: center;
}

.button-white {
    background-color: #FFFFFF;
    border: 1px solid #6D6E76;
}

.button:hover {
    transition: background-color 0.3s linear;
    background-color: #EDC14A;
}

.button-hover-white:hover {
    transition: background-color 0.3s linear;
    background-color: #FFFFFF
}

button,
a {
    cursor: pointer;
}

.button i {
    margin-left: 5px;
}


/* text */
.text-white {
    color: #FFFFFF;
}

.text-yellow {
    color: #FFD050;
}

.text-medium-gray {
    color: #6D6E76;
}

.text-dark-gray {
    color: #4C4C4C
}


/* grid */

.container {
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.column-1 {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.column-2 {
    width: calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

.column-3 {
    width: calc(33.33% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

.column-4 {
    width: calc(25% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

/* Desktop view */

@media screen and (min-width:768px) {
    .column-2-lg {
        width: calc(50% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }

    .column-4-lg {
        width: calc(25% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .column-4-xlg {
        width: calc(25% - 30px);
        margin-left: 15px;
        margin-right: 15px; 
    }
}


/* section header */


.top-nav-links,
.bottom-nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-nav-links a,
.bottom-nav-links a {
    text-decoration: none;
}

.top-nav-links li,
.bottom-nav-links li {
    margin-left: 12px;
    margin-right: 12px;
}

.top-nav,
.bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top-nav-wrapper,
.logo,
.bottom-nav-wrapper {
    display: flex;
    align-items: center;
}



.menu {
    display: none;
    width: 60px;
    height: 60px;
    margin: 12px;
    border: 1px solid white;
    padding: 1px 12px;
}

.menu .stick {
    height: 5px;
    width: 100%;
    background-color: #232536;

}

.menu:hover {
    transition: background-color 0.3s linear;
    background-color: #EDC14A;
}


/* footer styles */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}



.input input {
    width: 100%;
    border: 1px solid #4C4C4C;
    background-color: transparent;
    color: #6D6E76;
    padding: 14px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 12px;
}

.input {
    display: flex;
    height: fit-content;
}


.footer-center {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 80px 64px;
    background: rgba(255, 255, 255, 0.05);
}

.footer-top-line {
    padding-bottom: 60px;
}

.subscribe-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-bottom .contact-information {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-bottom {
    padding: 60px 0 0 0;
}

.social-networks {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.fa-brands {
    margin-left: 13px;
    margin-right: 13px;
}

/* hero section */

.hero {
    position: relative;
    overflow: hidden;
    background-color: #282D34;
}

.hero .hero-img-filtr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(30.56% 76.04% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}


.hero a {
    text-decoration: none;
}

.hero .button {
    margin: 48px 12px 12px 0;
}

.hero .column-1 {
    margin-top: 130px;
    margin-bottom: 190px;
    width: 65%;
}

.hero h1 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.hero .hero-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: cover;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.hero .hero-img img {
    height: 100%;
}

.hero-discription {
    line-height: 1.8;
}


/* featured post */

.featured-post button {
    margin-left: 0;
}

.featured-post h2 {
    margin-top: 128px;
    margin-bottom: 32px;
}

.border-featured {
    border: 1px solid #6D6E76;
    padding: 32px;
    margin-bottom: 128px;
}

.featured-img {
    width: 100%;
    margin: 0;
    padding: 0; 
}

.featured-post h3 {
    margin: 16px 0;
}

.featured-post p {
    margin-top: 0;
}

.featured-post button {
    margin-top: 32px;
}

.posts-link {
    display: flex;
    justify-content: space-between;
}

.posts-link-a {
    margin-top: 139px;
}

.featured-post li {
    padding: 32px;
}

.featured-post ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.featured-post h4 {
    padding-bottom: 25px;
    margin-bottom: 0;
    width: 60%;
    margin: 8px;
    margin-left: 0;
}

/* section About */

.shape {
    display: flex;
    flex-direction: row;
    margin-top: 65px;
    flex-wrap: nowrap;
}

.shape-yellow {
    width: 67%;
    height: 23px;
}

.shape-purple {
    width: 23%;
    height: 23px;
}

.shape-white {
    background-color: #FFFFFF;
    width: 10%;
    height: 23px;
}

.p-1 {
    margin-top: 96px; 
}

.text-read-more {
    margin-top: 0;
}

.our-mision {
    padding-right: 65px;
    padding-left: 32.5px;
}

.about-us {
    padding-left: 65px;
    padding-right: 32.5px;
}

.about-us h2 {
    margin-top: 24px;
    margin-bottom: 0;
}

.our-mision h2 {
    margin-top: 24px;
    margin-bottom: 0;
}

.about-text-wrapper {
    padding-bottom: 96px;
}

*{
    box-sizing: border-box;
}

/* mobile view */

@media screen and (max-width: 768px) {

    .menu {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .top-nav.column-2 .button.button-white {
        display: none;
    }

    .top-nav-wrapper {
        display: none;
    }

    .footer .logo {
        justify-content: center;
        padding-bottom: 30px;
    }

    .bottom-nav {
        justify-content: center;
        text-align: center;
    }

    .bottom-nav-links {
        flex-direction: column;
    }

    .footer-center {
        padding: 64px 20px;
    }

    .footer-center h2 {
        font-size: 30px;
        text-align: center;
    }

    .subscribe-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .input {
        width: 100%;
    }

    .input input {
        margin: 0 0 30px 0;
    }

    .subscribe-form-button .button {
        margin: 0;
        width: 100%;
    }

    .subscribe-form-button {
        width: 100%;
    }


    .social-networks {
        display: flex;
        justify-content: space-between;
        margin-top: 30px
    }

    .fa-brands {
        font-size: 30px;
    }

    .hero .column-1 {
        width: 100%;
    }

    .hero .subscribe-form-button {
        margin-top: 30px;
    }

    .hero-discription {
        font-size: 22px;
    }

    .hero h1 {
        margin: 60px 0;
        text-align: center
    }

    .hero .hero-img .hide-for-desktop {
        width: 100%;
        height: auto;
    }
    
    .featured-post h2 {
        margin-top: 32px;
    }
    
    .featured-post h3 {
        text-align: center;
    }

    .featured-post p {
        margin: 20px 0;
    }

    .border-featured {
        margin-bottom: 10px;
    }

    .featured-post .posts-link-a {
        margin-top: 45px;
    }

    .featured-post h4 {
        width: 100%;
    }

    .hide-for-mobile {
        display: none;
    }

   .about .container {
        padding-left: 0;
        padding-right: 0;
    }

    .about-us,
    .our-mision {
        padding-left: 20px;
        padding-right: 20px; 
    }
   

    
}


/* tablet view */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .subscribe-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .subscribe-form-button .button {
        margin: 0;
        width: 100%;
    }

    .subscribe-form-button {
        width: 100%;
    }

    .input {
        width: 100%;
    }

    .input input {
        margin: 0 0 30px 0;
    }

    .hero .column-1 {
        margin-top: 145px;
        margin-bottom: 60px;
        width: 100%;
    }

    .featured-post h2 {
        margin-top: 60px;
    }

    .posts-link-a {
        margin-top: 60px;
    }

    .featured-post h4 {
        width: 90%;
        padding-bottom: 17px;
    }

    .border-featured {
        margin-bottom: 60px;
    }

    .top-nav-wrapper,
    .bottom-nav-links {
        white-space: nowrap;
    }
}

/* Desktop view */

@media screen and (min-width: 769px) {

    .hide-for-desktop {
        display: none;
    }
}