html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Helpers*/

.z-index-1 {
    z-index: 1;
}

.relative {
    position: relative;
}

.margin-top-0 {
    margin-top: 0!important;
}

.padding-top-0 {
    padding-top: 0!important;
}

.justify-start {
    justify-content: flex-start!important;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

/* typography */

body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
}

.body-2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.cap-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase
}

.h1 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #232536;
}

.h2 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
}

.h3 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
}

.h4 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #232536;
}

.h5 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #232536;

}

.h6 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
}

label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #232536;
}

.text-read-more {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #592EA9;
}

.display-text {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
}

/* background colors */
.bg-dark {
    background: #232536;
}

.bg-yellow {
    background: #FFD050;
}

.bg-purple {
    background: #592EA9;
}

.bg-dark-gray {
    background: #4C4C4C;
}

.bg-medium-gray {
    background: #6D6E76;
}

.bg-light-gray {
    background: #F4F4F4;
}

.bg-lavender {
    background: #F4F0F8;
}

.bg-light-yellow {
    background-color: #FBF6EA;
}

.bg-transparant {
    background-color: transparent;
}

/* buttons */
.button {
    transition: background-color 0.3s linear;
    display: flex;
    margin: 12px;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    padding: 16px 48px;
    background-color: #FFD050;
    border: none;
    color: #232536;
    text-decoration: none;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    justify-content: center;
}

.button-white {
    background-color: #FFFFFF;
    border: 1px solid #6D6E76;
}

.button:hover {
    transition: background-color 0.3s linear;
    background-color: #EDC14A;
}

.button-hover-white:hover {
    transition: background-color 0.3s linear;
    background-color: #FFFFFF
}

button,
a {
    cursor: pointer;
}

.button i {
    margin-left: 5px;
}

/* image */
.avatar img {
    width: 128px;
}

img {
    width: 100%;
}

/* text */
.text-white {
    color: #FFFFFF;
}

.text-yellow {
    color: #FFD050;
}

.text-medium-gray {
    color: #6D6E76;
}

.text-dark-gray {
    color: #4C4C4C;
} 

.text-dark {
    color: #232536;
}

.text-dark-blue {
    color: #282938;
}

.text-purple {
    color: #592EA9
}


/* grid */

.container {
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.column-1 {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

.column-2 {
    width: calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

.column-3 {
    width: calc(33.33% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

.column-4 {
    width: calc(25% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

/* Desktop view */

@media screen and (min-width: 769px) {
    .column-2-lg {
        width: calc(50% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }

    .column-2-60-lg {
        width: calc(60% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }

    .column-2-40-lg {
        width: calc(40% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }

    .column-4-lg {
        width: calc(25% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }

    .column-3-4-lg {
        width: calc(75% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }

    .column-1-4-lg {
        width: calc(25% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .column-4-xlg {
        width: calc(25% - 30px);
        margin-left: 15px;
        margin-right: 15px; 
    }

    .column-6-xlg {
        width: calc(16.66% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }
}


/* section header */


.top-nav-links,
.bottom-nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-nav-links a,
.bottom-nav-links a {
    text-decoration: none;
    transition: color 0.3s linear;
}

.top-nav-links li,
.bottom-nav-links li {
    margin-left: 12px;
    margin-right: 12px;
}

.top-nav,
.bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top-nav-wrapper,
.logo,
.bottom-nav-wrapper {
    display: flex;
    align-items: center;
}

.top-nav-sublinks {
    position: absolute;
    padding: 5px;
    margin: 0;
    background-color: #FFD050;
    list-style: none;
    z-index: -1;
    transition: all 0.5s linear;
    opacity: 0;
}

.top-nav-links > li {
    position: relative;
}

.top-nav-links li:hover .top-nav-sublinks {
    z-index: 2;
    transition: all 0.5s linear;
    opacity: 1;
}

.top-nav-links li:hover i {
    transform: rotate(-180deg);
    transition: all 0.3s linear;
}

.top-nav-links > li:hover > a {
    color: #FFD050;
    transition: color 0.3s linear;
}

.top-nav-links li i {
    transition: all 0.3s linear;
}



.top-nav-sublinks a {
    color: #282938;
}

.menu {
    display: none;
    width: 60px;
    height: 60px;
    margin: 12px;
    border: 1px solid white;
    padding: 1px 12px;
}

.menu .stick {
    height: 5px;
    width: 100%;
    background-color: #232536;

}

.menu:hover {
    transition: background-color 0.3s linear;
    background-color: #EDC14A;
}

/* form */

.input input,
.input select,
.input textarea {
    width: 100%;
    border: 1px solid #4C4C4C;
    background-color: transparent;
    color: #6D6E76;
    padding: 14px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 12px;
}

.input textarea::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.input input,
.input select {
    height: 58px;
}

.input {
    display: flex;
    height: fit-content;
}

.input-select:after {
    pointer-events: none;
    content: "\f078";
    background-color: #FFFFFF;
    width: 50px;
    height: 54px;
    display: flex;
    position: absolute;
    z-index: 1;
    right: 1px;
    top: 14px;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    align-items: center;
    justify-content: left;
    font-size: 14px;
}

.input-select {
    position: relative;
}

/* footer styles */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}


.footer-center {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 80px 64px;
    background: rgba(255, 255, 255, 0.05);
}

.footer-top-line {
    padding-bottom: 60px;
}

.subscribe-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-bottom .contact-information {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-bottom {
    padding: 60px 0 0 0;
}

.social-networks {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.fa-brands {
    margin-left: 13px;
    margin-right: 13px;
}

/* hero section */

.hero {
    position: relative;
    overflow: hidden;
    background-color: #282D34;
}

.hero .hero-img-filtr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(30.56% 76.04% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}


.hero a {
    text-decoration: none;
}

.hero .button {
    margin: 48px 12px 12px 0;
}

.hero .column-1 {
    margin-top: 130px;
    margin-bottom: 190px;
    width: 65%;
}

.hero h1 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.hero .hero-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: cover;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.hero .hero-img img {
    height: 100%;
}

.hero-discription {
    line-height: 1.8;
}


/* featured post */

.featured-post button {
    margin-left: 0;
}

.featured-post h2 {
    margin-top: 128px;
    margin-bottom: 32px;
}

.border-featured {
    border: 1px solid #6D6E76;
    padding: 32px;
    margin-bottom: 128px;
}

.featured-img {
    width: 100%;
    margin: 0;
    padding: 0; 
}

.featured-post h3 {
    margin: 16px 0;
}

.featured-post p {
    margin-top: 0;
}

.featured-post button {
    margin-top: 32px;
}

.posts-link {
    display: flex;
    justify-content: space-between;
}

.posts-link-a {
    margin-top: 139px;
}

.featured-post li {
    padding: 32px;
}

.featured-post ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.featured-post h4 {
    padding-bottom: 25px;
    margin-bottom: 0;
    width: 60%;
    margin: 8px;
    margin-left: 0;
}

/* section About */

.shape {
    display: flex;
    flex-direction: row;
    margin-top: 65px;
    flex-wrap: nowrap;
}

.shape-yellow {
    width: 67%;
    height: 23px;
}

.shape-purple {
    width: 23%;
    height: 23px;
}

.shape-white {
    background-color: #FFFFFF;
    width: 10%;
    height: 23px;
}

.p-1 {
    margin-top: 96px; 
}

.text-read-more {
    margin-top: 0;
}

.our-mision {
    padding-right: 65px;
    padding-left: 32.5px;
}

.about-us {
    padding-left: 65px;
    padding-right: 32.5px;
}

.about-us h2 {
    margin-top: 24px;
    margin-bottom: 0;
}

.our-mision h2 {
    margin-top: 24px;
    margin-bottom: 0;
}

.about-text-wrapper {
    padding-bottom: 96px;
}

*{
    box-sizing: border-box;
}

/* Catagory section */

.border {
    border:1px solid #6D6E76;
    padding: 32px;
}

.catagory h3 {
    margin-bottom: 4px;
}

.catagory p {
    margin: 0;
}

.catagory {
    padding-top: 128px;
    padding-bottom: 128px;
}

.choose-a-catagory {
    display: flex;
    justify-content: center;
}

.catagory h2 {
    margin-top: 0;
    margin-bottom: 33px;
    
}

.bg-icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: background-color 0.3s linear;
}

.cat-block {
    background-color: white;
    transition: background-color 0.3s linear;
    margin-top: 15px;
    margin-bottom: 15px;

}

.cat-block:hover {
    background-color: #FFD050;
    transition: background-color 0.3s linear;
}

.cat-block:hover .bg-icon {
    background-color: white;
    transition: background-color 0.3s linear;
}

/* story section */

.bg-story {
    background: url("./image/people.png");
   
}

.story-text {
    background-color: #FFFFFF;
    margin-top: 121px;
    padding: 80px;
    max-width: 706px;
}

.story {
    margin-bottom: 128px; 
}

.story button,
.story h2 {
    margin: 0;   
}

.story-p-1 {
    margin-top: 0;
    margin-bottom: 24px;  
}

.story-p-2 {
    margin-bottom: 32px;
}

.story .bg-story {
    display: flex;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Autors section */

.list-of-authors,
.authors-networks,
.avatar,
.authors h3 {
    display: flex;
    justify-content: center;
}

.avatar img {
    border-radius: 100%;
    margin-top: 40px;
}

.authors h3 {
    margin-top: 20px;
    margin-bottom: 0;
}

.authors-networks {
    margin-top: 20px;
    margin-bottom: 40px;
}

.authors p {
    margin-top: 0;
    margin-bottom: 20px;
}

.authors h2 {
    margin-top: 0;
    margin-bottom: 48px;
}

.authors-block {
    background-color: #F4F4F4;
    transition: background-color 0.3s linear;
    margin-top: 15px;
    margin-bottom: 15px;
}

.authors-block:hover {
    background-color: #FBF6EA;
    transition: background-color 0.3s linear;
}

.authors {
    margin-bottom: 96px;
}

/* We are section*/

.we-are {
    margin-bottom: 96px;
}

.we-are-block {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* testimonials section */

.ava img {
    border-radius: 100%;
    width: 48px;
    height: 48px;
}

.testimonials-wrapper {
    padding: 90px 110px;
    display: flex;
    flex-direction: row;
}

.testimonials {
    margin-bottom: 128px;
}

.testimonials-title {
    width: 40%;
    border-right: 1px solid #6D6E76;
    padding-right: 90px;
}

.testimonials-text {
    width: 60%;
    padding-left: 90px;
}

figure {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.user-name {
    margin-bottom: 121px;
}

.testimonials h2 {
    margin-top: 12px;
    margin-bottom: 16px;
}

figcaption {
    padding-left: 16px;
}

.flip {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flip-block {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.arrow {
    background: #FFFFFF;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 12px;
    margin-left: 12px;
    transition: all 0.3s linear;
    transform: scale(1)
}

.arrow:hover {
    transition: all 0.3s linear;
    background: #232536;
    color:#FFFFFF;
    transform: scale(1.3)
}


/* join for our team */

.join-for-our-team {
    margin-top: 128px;
    margin-bottom: 128px;
}

.text-join-now {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-for-our-team h2 {
    margin: 0;
}

.join-now {
    margin-bottom: 0;
}

/* BLOG PAGE */

/* blog hero section */

.blog-hero .column-1 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.blog-hero button {
    margin-left: 0;
    margin-top: 32px;
}

.blog-hero h2 {
    margin-top: 20px;
    margin-bottom: 0;
}

.blog-hero-img {
    display: flex;
    flex-direction: row-reverse;
}

.blog-hero-img img {
    width: 100%;
    object-fit: contain;
}

/* posts section */

.posts {
    margin-top: 65px;
    margin-bottom: 65px;
}
.post-h1 {
    border-bottom: 1px solid #6D6E76;
    margin-bottom: 30px;
}

.post-h1 .h1 {
    margin-top: 0;
    margin-bottom: 32px;
}

.posts-column {
    display: flex;
    flex-direction: row;
}

.posts-img img {
    margin-bottom: 0;
    width: 100%;
}

.posts ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.posts .p-1 {
    margin-top: 119px;
    margin-bottom: 20px;
}

.posts-block h2 {
    margin: 0px;
}

.post-wrapper {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pg-block {
    padding-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.pg-hover {
    margin-left: 17px;
    margin-top: 70px;
    transition: all 0.3s linear;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #6D6E76;
    transform: scale(1);
    text-decoration: none;   
}

.pg-hover:hover {
    transition: all 0.3s linear;
    color: #232536;
    transform: scale(1.3);
}

/* ABOUT PAGE */

/* content writers section */

.writers-p {
    display: flex;
    align-items: center;
}

.writers-text {
    background-color: #FFFFFF;
    padding: 64px;
    transform: translateY(50px);
    z-index: 1;
    position: relative;
}

.writers-text h1 {
    margin: 0;
}

.padding-left-100 {
    padding-left: 100px;
}

/* content image section */

.block-yellow {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.yellow-box {
    padding: 32px 40px;
    text-align: center;
}

.box-color {
    height: 23px;
}

.block-color .bg-purple {
    width: 25%;
}

.block-color .bg-transparant {
    width: 25%;
}

.block-color .bg-yellow {
    width: 50%;
} 

.block-color {
    display: flex;
}


.content {
    position: relative;
}

.content-img img {
    height: 444px;
    width: 100%;
    object-fit: cover;
}

/* mision text section */

.mision-text .bg-lavender {
    padding: 112px 108px 48px 108px;
}

.mision-text h3 {
    margin-top: 24px;
    margin-bottom: 0;
}

/* creative section */

.creative {
    margin-top: 128px;
    margin-bottom: 128px;
}

.creative h2,
.creative p {
    margin-top: 0;
    margin-bottom: 0;
}

.creative h4 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.creative .bg-yellow {
    width: 103px;
    height: 116px;
    border-top-left-radius: 40px;
    position: absolute;
    left: -50px;
    top: 24%;
}

.creative-img {
    position: relative;
}

.creative-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

/* Why started */

.why-started {
    margin-bottom: 128px;
}

.blog-start h2,
.blog-start p { 
    margin: 0;
}

.blog-start h4 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.blog-start {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-left: 34px;
}

.why-started .bg-purple {
    width: 74px;
    height: 74px;
    border-radius: 40px;
    position: absolute;
    bottom: -30px;
    left: 107px;
}

.img-start {
    position: relative;
}


/* Category PAGE */

/* business hero section */

.business {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.business h1 {
    margin: 0;
}

.business-p {
    margin-top: 32px;
    margin-bottom: 0;
}

/* business tags section */

.business-tags {
    margin-top: 122px;
    margin-bottom: 122px;
}

.img-business {
    width: auto;
}

.blog-block {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.blog-block-text {
    margin-left: 32px;
}

.border-contact {
   border: 1.5px solid #C1C1C3;
   padding: 24px;
   display: flex;
   align-items: center;
}

.border-contact h3 {
    margin: 0 0 0 16px;
}

.hug-hug {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    margin: 0;
}

.box-hug {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.tags-hug {
    border: 1.5px solid #C1C1C3;
    border-radius: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 5px;
}

.blog-block-wrapper {
    display: flex;
    flex-direction: column;
}

/* Contact page */

/* Section of conversations */

.conversations {
    margin-top: 112px;
    margin-bottom: 48px;
}

.center-text {
    text-align: center;
    max-width: 768px;
    margin: 0 auto;
}

.center-text h1 {
    margin-top: 12px;
    margin-bottom: 24px;
}

/* section support */

.purple-block-wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 768px;
}

.p-sup-2 {
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 16px;
    opacity: 0.6;
    text-align: left;
}

.support p {
    opacity: 0.6;
    margin-top: 0;
    margin-bottom: 16px;
}

.support .bg-purple {
    max-width: 768px;
    padding: 48px 49px 48px 49px;
}

.contact-support h5,
.contact-support p {
    margin: 0;
}

.margin-top-16 {
    margin-top: 16px;
}

.margin-0 {
    margin: 0;
}

/* Message section */

.message {
  margin-top: 32px;
  margin-bottom: 128px;
}

 .input-wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 768px;
}

.form-message {
    max-width: 768px;
}

.input-form {
    width: 100%;
}

.message .input {
    width: 100%;
}

.message button {
    width: 100%;
}

.helper-height {
    height: 144px;
}

.input-query {
    max-width: 768px; 
}

.input select {
    width: 100%;
}

.input-form .input input,
.input-form .input select,
.input-form .input .button,
.input-form .input textarea {
    margin: 12px 0;
}

.message .column-1 {
    display: flex;
    justify-content: center;
}

/* Privacy policy section */

.updated {
    opacity: 0.6;
}


/* mobile view */

@media screen and (max-width: 768px) {

    .menu {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .top-nav.column-2 .button.button-white {
        display: none;
    }

    .top-nav-wrapper {
        display: none;
    }

    .footer .logo {
        justify-content: center;
        padding-bottom: 30px;
    }

    .bottom-nav {
        justify-content: center;
        text-align: center;
    }

    .bottom-nav-links {
        flex-direction: column;
    }

    .footer-center {
        padding: 64px 20px;
    }

    .footer-center h2 {
        font-size: 30px;
        text-align: center;
    }

    .subscribe-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .input {
        width: 100%;
    }

    .input input {
        margin: 0 0 30px 0;
    }

    .subscribe-form-button .button {
        margin: 0;
        width: 100%;
    }

    .subscribe-form-button {
        width: 100%;
    }


    .social-networks {
        display: flex;
        justify-content: space-between;
        margin-top: 30px
    }

    .fa-brands {
        font-size: 30px;
    }

    .hero .column-1 {
        width: 100%;
    }

    .hero .subscribe-form-button {
        margin-top: 30px;
    }

    .hero-discription {
        font-size: 22px;
    }

    .hero h1 {
        margin: 60px 0;
        text-align: center
    }

    .hero .hero-img .hide-for-desktop {
        width: 100%;
        height: auto;
    }
    
    .featured-post h2 {
        margin-top: 32px;
    }
    
    .featured-post h3 {
        text-align: center;
    }

    .featured-post p {
        margin: 20px 0;
    }

    .border-featured {
        margin-bottom: 10px;
    }

    .featured-post .posts-link-a {
        margin-top: 45px;
    }

    .featured-post h4 {
        width: 100%;
    }

    .hide-for-mobile {
        display: none;
    }

    .about .container {
        padding-left: 0;
        padding-right: 0;
    }

    .about-us,
    .our-mision {
        padding-left: 20px;
        padding-right: 20px; 
    }

    .story-text {
        margin-top: 80%;
        padding: 0;
    }
    
    .we-are .no-wrap {
        flex-wrap: wrap;
    }

    .testimonials-title {
        width: 100%;
        padding-right: 0;
        border-bottom: 1px solid #6D6E76;
        border-right: none;
    }

    .testimonials-text {
        width: 100%;
        padding-left: 0;
    }

    .testimonials-wrapper {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
    }

    .flip-block {
        display: flex;
        flex-direction: column;
    }

    .arrow-left {
        margin-left: 0;
    }

    .flip {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .user-name {
        margin-top: 40px;
        margin-bottom: 100px;
    }

    .post-wrapper {
        display: flex;
        flex-direction: column;
    }

    .posts-img img {
        width: 100%;
    }

    .posts .p-1 {
        margin-top: 30px;
    }

    .writers-text {
        padding: 30px;
    }

    .padding-left-100 {
        padding-left: 0;
    }
    
    .content-wrapper {
        width: 100%;
    }

    .mision-text .bg-lavender {
        padding: 20px;
    }

    .creative-text {
        padding-bottom: 30px;
    }

    .blog-start {
        margin-left: 0;
    }

    .blog-start h2 {
        margin-top: 50px;
    }
    
    .business {
        padding-left: 20px;
        padding-right: 20px;
    }

    .blog-block {
        display: flex;
        flex-direction: column;
    }

    .support .bg-purple {
        padding: 48px 0;
    }

    

    
}



/* tablet view */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .subscribe-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .subscribe-form-button .button {
        margin: 0;
        width: 100%;
    }

    .subscribe-form-button {
        width: 100%;
    }

    .input {
        width: 100%;
    }

    .input input {
        margin: 0 0 30px 0;
    }

    .hero .column-1 {
        margin-top: 145px;
        margin-bottom: 60px;
        width: 100%;
    }

    .featured-post h2 {
        margin-top: 60px;
    }

    .posts-link-a {
        margin-top: 60px;
    }

    .featured-post h4 {
        width: 90%;
        padding-bottom: 17px;
    }

    .border-featured {
        margin-bottom: 60px;
    }

    .top-nav-wrapper,
    .bottom-nav-links {
        white-space: nowrap;
    }

    .creative-text {
        width: 90%;
    }

    


}

/* Desktop view */

@media screen and (min-width: 769px) {

    .hide-for-desktop {
        display: none;
    }

    .blog-hero-img img {
        max-width: 515px;
    }
    
    .content-wrapper {
        position: absolute;
        bottom: 0;
    }

    .content-img img {
        height: 100%;
    }

    .block-yellow {
        flex-direction: row;
        padding-left: 0;
    }

    .content-wrapper {
        width: 100%;
    }

}

/* XL Desktop view */

@media screen and (min-width: 1024px) {
    .creative-text {
        max-width: 519px;
    }

    .blog-start {
        max-width: 511px;
    }
}